{% extends "base.html" %}
{% block title %}Проверка отчетов - ErespondentN{% endblock %}
{% block content %}
<input type="hidden" id="current-status" value="{{ status_reports }}">
<input type="hidden" id="year-filter-value" value="{{ year_filter }}">
<input type="hidden" id="quarter-filter-value" value="{{ quarter_filter }}">
<div class="audit-area_page">
    <div class="sticky_menu">
        <div class="report-area-menu">
            <div class="report-area_podmenu">
                <div class="content-pod-menu">
                    <nav>
                        <ul>
                            <section>
                                <div class = "functions_menu">     
                                    <li id = "link_period">           
                                        <img src="{{ url_for('static', filename='img/svg/time.svg')}}" alt="">
                                        <a class = "li-title"> 
                                        {% if year_filter == '' and quarter_filter == '' %} 
                                            <span>Всё время</span>
                                        {%else%}
                                            <span>{{year_filter}} / {{quarter_filter}}</span>
                                        {%endif%} 
                                        </a>   
                                    </li>  
                                </div>                         
                                <a class="functions_menu_name">        
                                    Период
                                </a>
                            </section>
                            <section>
                                <div class = "functions_menu">
                                    <nav>
                                        <ul class="menu_audit">     
                                            <li data-action="not_viewed" title="Непросмотренные"> 
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z"/>
                                                    <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" clip-rule="evenodd"/>
                                                </svg>       
                                                <a class="li-title">   
                                                    <span>Непросм.</span>  
                                                    <div class="count-reports">    
                                                        <span>...</span>
                                                    </div> 
                                                </a>
                                            </li>
                                            
                                            <li data-action="to_delete" title="Подлежат удалению"> 
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="li-title">
                                                    <span>Удал.</span>  
                                                    <div class="count-reports">    
                                                        <span>...</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            
                                            <li data-action="remarks" title="Есть замечания">   
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"/>
                                                </svg>         
                                                <a class="li-title">
                                                    <span>Замеч.</span>  
                                                    <div class="count-reports">    
                                                        <span>...</span>
                                                    </div> 
                                                </a> 
                                            </li>
                                            <li data-action="to_download" title="Одобренные">   
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="li-title"> 
                                                    <span>Одобр.</span>  
                                                    <div class="count-reports">    
                                                        <span>...</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            <li data-action="all_reports" title="Все отчеты {{all_count}}">           
                                                <svg class="count-img" viewBox="0 0 24 24" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z" clip-rule="evenodd"/>
                                                </svg>           
                                                <a class="li-title">
                                                    <span>Все</span>  
                                                    <div class="count-reports">    
                                                        <span>...</span>
                                                    </div> 
                                                </a>
                                            </li>  
                                            
                                            <form id="change-category-form" style="display: none;" method="post" action="/change-category-report">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <input type="hidden" name="reportId" id="report-id-input">
                                                <input type="hidden" name="action" id="action-input">
                                            </form>
                                        </ul>
                                    </nav>
                                </div>  
                                <a class="functions_menu_name">
                                    
                                </a>
                            </section>
                            <section>
                                <div class = "functions_menu">     
                                    <li id = "link_load">           
                                        <img src="{{ url_for('static', filename='img/upload.png')}}" alt="">
                                        <a class = "li-title">
                                            <span>Экспорт</span>
                                        </a>   
                                    </li>  
                                </div>        
                                <a class="functions_menu_name">        
                                    Прочее
                                </a>
                            </section>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="filters-area">
            <div class="search-input-wrapper">
                <div class="search-cont">
                    {{ icons.icon_org() }}
                    <input type="text" id="organization-filter"
                        placeholder="{{ _('Введите наименование') }}" 
                        class="app-input search-input" id="search-name">
                </div>
            </div>
            <div class="search-input-wrapper">
                <div class="search-cont"> 
                    {{ icons.icon_okpo() }}
                    <input type="text" id="okpo-filter"
                        placeholder="{{ _('Введите ОКПО') }}" 
                        class="app-input search-input" id="search-okpo">
                </div>
            </div>

            <div class="search-input-wrapper">
                <div class="search-cont">
                    <div class="custom-dropdown" id="region-dropdown">
                        <div class="dropdown-trigger" id="region-trigger">
                            <span class="dropdown-text">Все регионы</span>
                            <svg class="dropdown-arrow" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </div>
                        <div class="dropdown-menu" id="region-menu" data-is-auditor="{{ current_user.is_auditor|lower }}" data-user-region-digit="{{ current_user.organization.region.number if current_user.organization and current_user.organization.region else '' }}">
                            <div class="dropdown-item" data-value="">Все регионы</div>
                            <div class="dropdown-item" data-value="1">Брестская область</div>
                            <div class="dropdown-item" data-value="2">Витебская область</div>
                            <div class="dropdown-item" data-value="3">Гомельская область</div>
                            <div class="dropdown-item" data-value="4">Гродненская область</div>
                            <div class="dropdown-item" data-value="5">г. Минск</div>
                            <div class="dropdown-item" data-value="6">Минская область</div>
                            <div class="dropdown-item" data-value="7">Могилевская область</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report-list">
        <div class="report-area">
            <div id="loading-spinner" class="loading-spinner" style="display: none;">
                <div class="loader-pulse"></div>
                <div class="loading-text">Загрузка отчётов...</div>
            </div>
            <div id="reports-content" style="display: none;">
                <table class="table-report-area" id="report-table">
                    <thead class="table-title">
                        <tr>
                            <th></th>
                            <th></th>
                            <th class="resizable" data-sort-col="name" style="white-space: nowrap; min-width: 380px;">
                                <span class="sort-label">
                                    Предприятие
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="okpo" style="white-space: nowrap; min-width: 140px;">
                                <span class="sort-label">
                                    ОКПО
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="region" style="white-space: nowrap; min-width: 140px;">
                                <span class="sort-label">
                                    Регион
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="year" style="white-space: nowrap; min-width: 100px;">
                                <span class="sort-label">
                                    Год
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="quarter" style="white-space: nowrap; min-width: 100px;">
                                <span class="sort-label">
                                    Квартал
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="time" style="white-space: nowrap; min-width: 140px;">
                                <span class="sort-label">
                                    Дата поступления
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th class="resizable" data-sort-col="status" style="white-space: nowrap; min-width: 140px;">
                                <span class="sort-label">
                                    Статус
                                    <span class="sort-icon-header">
                                        {{ icons.icon_sort() }}
                                    </span>
                                </span>
                                <div class="resizer"></div>
                            </th>
                            <th rowspan="2"></th>
                        </tr>
                    </thead>
                    <tbody id="reports-tbody">
                    </tbody>
                </table>
                <div class="pagination-container" style="display: flex; justify-content: center; align-items: center; gap: 16px; padding: 20px 0; margin-top: 20px;">
                    <button id="prevPageBtn" class="pagination-btn prev-btn" aria-label="Предыдущая страница" disabled>
                        <svg class="pagination-icon" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                        </svg>
                    </button>
                    
                    <div class="pagination-pages">
                        <span id="currentPage" class="page-current">1</span>
                        <span class="page-separator">/</span>
                        <span id="totalPages" class="page-total">1</span>
                    </div>
                    
                    <button id="nextPageBtn" class="pagination-btn next-btn" aria-label="Следующая страница">
                        <svg class="pagination-icon" width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z"></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="empty-state" class="empty-state-container" style="display: none;">
                <div class="empty-state">
                    {{ icons.icon_no_file() }}
                    <h3>Нет доступных отчетов</h3>
                    <p>За выбранный период отчеты не найдены.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contextMenu_report" class="white-panel">
    <form id="deleteReport" method="POST" action="/rollbackreport/">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" id="rollbackButton">
            {{ icons.icon_cancel() }}
            <span>Отменить действие</span>
        </button>
    </form>
    <button type="submit" class="disabled">
        {{ icons.icon_export() }}
        <span>Скачать</span>
    </button>
    <button type="submit" class="disabled">
        {{ icons.icon_delete() }}
        <span>Удалить</span>
    </button>
</div>
<div id="period_modal" class="modal">
    <div class="modal-content">
        <div class = "modal-header">
            <h3 class = "change-position">Проверка отчетов</h3>
            {{ icons.icon_close() }}
        </div>
        <input type="hidden" name="year" id="selected-year-audit" value="{{year_filter}}">
        <input type="hidden" name="quarter" id="selected-quarter-audit" value="{{quarter_filter}}">
        <input type="hidden" name="sratus" id="status-audit" value="{{status_reports}}">

        <div class="period-selector-advanced" id="audit-period-selector">
            <div class="selector-card">
                <div class="selector-grid">
                    <div class="year-wheel">
                        <button type="button" class="year-arrow up-arrow">↑</button>
                        <div class="year-display"></div>
                        <button type="button" class="year-arrow down-arrow">↓</button>
                    </div>
                    
                    <div class="quarter-grid">
                        <button type="button" class="q-cell" data-q="1">
                            <span class="q-number">1 кв.</span>
                            <span class="q-months">Янв-Мар</span>
                        </button>
                        <button type="button" class="q-cell" data-q="2">
                            <span class="q-number">2 кв.</span>
                            <span class="q-months">Апр-Июн</span>
                        </button>
                        <button type="button" class="q-cell" data-q="3">
                            <span class="q-number">3 кв.</span>
                            <span class="q-months">Июл-Сен</span>
                        </button>
                        <button type="button" class="q-cell" data-q="4">
                            <span class="q-number">4 кв.</span>
                            <span class="q-months">Окт-Дек</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="selector-info-audit" class="period-info"></div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="model_but_area" >
            <button 
                type="button" 
                class="blue_btn"
                onclick="filterSentedReports()">
                    {{ icons.icon_calendar() }}
                    <span>Выбранный период</span>
            </button>
            <button 
                type="button"
                class="invisible-btn" 
                style = "font-size: 13px;"
                onclick="location.href='/audit-area/all_reports?year=&quarter=&region=all'">
                Все периоды
            </button>
        </div>
    </div>
</div>

<div id="load_reports_modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="change-position">Экспорт одобренных отчетов</h3>
            {{ icons.icon_close() }}
        </div>
        <div id="export-loading" class="export-loading" style="display: none;">
            <div class="loader-pulse"></div>
            <div class="loading-text">Подготовка архива...</div>
        </div>
        
        <form id="export_form" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="year_filter" value="{% if year_filter == '' and quarter_filter == '' %}{% else %}{{ year_filter }}{% endif %}">         
            <input type="hidden" name="quarter_filter" value="{% if year_filter == '' and quarter_filter == '' %}{% else %}{{ quarter_filter }}{% endif %}">
            
            {% if current_user.is_admin or current_user.is_reader %}
            <div class="export-region-filter">
                <label class="export-region-label">Фильтр по региону</label>
                <select name="export_region" id="export_region" class="export-region-select">
                    <option value="">Все регионы</option>
                    <option value="1">Брестская область</option>
                    <option value="2">Витебская область</option>
                    <option value="3">Гомельская область</option>
                    <option value="4">Гродненская область</option>
                    <option value="5">г. Минск</option>
                    <option value="6">Минская область</option>
                    <option value="7">Могилевская область</option>
                </select>
            </div>
            {% endif %}
            <div class="format-selection-label">
                <span class="format-selection-title">Выберите формат экспорта</span>
                <span class="format-selection-required">Обязательно</span>
            </div>
            <div class="format-options">
                <label class="format-option">
                    <input type="radio" name="format" value="DBF">
                    <div class="format-option-content">
                        {{ icons.icon_file() }}
                        <div class="format-text">
                            <span class="format-title">Формат .dbf</span>
                            <span class="format-description">База данных для других систем</span>
                        </div>
                    </div>
                </label>
                <label class="format-option">
                    <input type="radio" name="format" value="XML">
                    <div class="format-option-content">
                        {{ icons.icon_file() }}
                        <div class="format-text">
                            <span class="format-title">Формат .xml</span>
                            <span class="format-description">Универсальный формат для обмена данными</span>
                        </div>
                    </div>
                </label>
            </div>
            
            <div class="model_but_area between">
                <button type="submit" class="blue_btn" id="export_submit_btn">
                    {{ icons.icon_upload() }}
                    <span>Экспортировать</span>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/audit.js') }}"></script>
{% endblock %}
