{% extends "base.html" %}
{% block title %}Сессии - ErespondentN{% endblock %}
{% block content %}

<div class="profile_page">
    <div class="rotation-fromareas">
        <div class="rotation-fromareas_info">
            <span>
                <a class="back_orbital" href="/profile">Профиль</a>
            </span>
            <span class = "svg-arr">
                {{ icons.icon_arrow_right() }}
            </span>
            <span>
                <a>Сессии</a>
            </span>
        </div>
    </div>
    <div class="contener_row">
        {{ content.left_menu(active_tab) }}
        <div class="personal-info_area">
            {% include 'cm_session/section.html' %}

            <a class="session-name-card" style="margin-top: 50px;">Автоматически удалять аккаунт</a>
            <div class="session-this-device">
                <div class="first-floor">
                    <div class="session-text-area">
                        <a class="session-this-device-name">Если сеанс не активен</a>
                        <a class="session-this-device_app">1 год</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
